.container{
    background-color: pink;
    width: 88px;
    height: 88px;
}
.second{
    background-color: blueviolet;
    width: 88px;
    height: 88px;
    margin-left: 0dvb;
}
.third{
    background-color: chocolate;
    width: 88px;
    height: 88px;
}